#map{
  width: 1830px;
  height: 910px;
}
.leafLet_map_box{
  width: 100%;
  height: 100%;
  position: absolute;
}
.test_getData{
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}

.el-collapse-item__wrap{
  position: fixed;
  margin-top: 2px;
  margin-left: -7px;
  width: 79px;
}
.el-collapse-item__header{
   height: auto;
  line-height: inherit;
}
.el-collapse-item__content{
  padding-bottom: 10px;
}
