.tool_bar{
  position: absolute;
  z-index: 400;
  right: 0px;
  top: 20px;
}
.tool_ele_box{
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  position: fixed;
  right: 50px;
  width: 500px;
}
.tool_ele_btn{
  display: inline-block;
  width: 15%;
  line-height: 39px;
  cursor: pointer;
  font-size: 14px;
}
.tool_ele_btn:not(:last-child){
  border-right:2px solid #e3e3e3;
}
.hideClass{
  display:none
}
.ele_tool div:not(:last-child){
  border-bottom: 1px solid #e3e3e3;
}
.onClick{
  color: aquamarine;
}
.el-collapse-item__header.is-active {
  color: aquamarine !important;
}
.el-collapse-item__header:hover{
  color: aquamarine !important;
}


.el-dropdown-link {
  cursor: pointer;
}
.el-dropdown-link:hover{
  color: aquamarine;
}
.el-icon-arrow-down {
  font-size: 12px;
}
