.right_pop_box{
  position: absolute;
  right: 0px;
  top: 20%;
  overflow: hidden;
  background-color: #fff;
  z-index: 400;
  border-radius: 4px;
  box-shadow: 10px 7px 5px #888888;
}
.mr_height_width{
  width: 456px;
  height: 218px;
}
.pop_head{
  background-color: #85ce61;
  height: 22%;
}
.pop_content{
  height: 60%;
}
.pop_title{
  display: -webkit-box;
  margin-left: 15px;
  font-size: 20px;
  line-height: 48px;
  color: #737373;
  text-shadow: 2px 4px 2px #e3e3e3;
  font-weight: 600;
}
.latlng_location_ele_box{
  display: -webkit-box;
  margin: 5px 0px 1px 40px;
}
.latlng_location_text{
  line-height: 54px;
  display: -webkit-box;
  margin-right: 20px;
}
.right_pop_button{
  margin-top: -20px;
  float: right;
}
.latlng_location_ele_error{
  display: none;
  font-size: 12px;
  text-align: left;
  margin: 11px 0px 0px 10px;
  color: red;
}
.self_close_btn_class{
  position: fixed;
  margin-left: 189px;
  margin-top: -37px;
  font-size: 28px;
  color: #d3d3d3;
  cursor: pointer;
}

.sml_btn_right{
  position: absolute;
  display: none;
  width: 13px;
  height:80px;
  right: 0px;
  top: 20%;
  overflow: hidden;
  z-index: 400;
  border-radius: 4px;
  box-shadow: 10px 7px 5px #888888;
}
.self_unfold_btn_class{
  height:80px;
}

